<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 shadow">

    <!-- Sidebar Toggle (Topbar) -->
 
  
    <!-- Stockify Name -->
    <div class="navbar-brand font-weight-bold text-primary " style="margin-left: 250px;">
      <i class="fas fa-chart-line mr-2"></i> Stockify
    </div>
  
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
      <!-- Nav Item - Logout -->
      <li class="nav-item">
        <a class="nav-link text-danger" (click)="logout()" style="cursor: pointer;">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
      </li>
    </ul>
  
  </nav>
  